body{
  background-color: #cfcfcf;

}

header {
  text-align: center;
  grid-row: 1;
  grid-column: 1/3;
}

h1 {
  font-size: 70px;

}

#grid{
  disply: grid;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  outline: thin solid purple;

}

footer{
  text-align: center;

}