body{
  /*background-color: #cfcfcf;
  */
  background-color: #1c7330;
  
}

header {
  text-align: center;
  grid-row: 1;
  grid-column: 1/3;
}

h1 {
  font-size: 70px;

}

h2 {
  padding: 15px;

}

#profile-pic {
  /*display: flex;*/
  /*margin: 40px;*/
  border: 7px solid #731C5F;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: right;
  margin: 15px;
}

#projlink{
  
  padding: 15px;
}
#grid{
  display: grid;
  width: 75%;
  /*margin-left: auto;
  margin-right: auto;*/
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  /*outline: thin solid #731C5F; */
  border: 7px solid #731C5F;
  border-radius: 20px;
  background-color: #cfcfcf;
  

}

#header{
  grid-row: 1;
  grid-column: 1 / 3;

}

#right {
  grid-column: 2 / 3 ;
  grid-row: 2;
  text-align: left;
  border-left: 1px solid #731C5F;
  
}

#left {
  grid-column: 1 / 2;
  grid-row: 2;
  text-align: right;
  border-right: 1px solid #731C5F;
}

#bottom {
  grid-column: 1/3;
  grid-row: 3;
  
}

#p1 {
  padding: 15px;

}
footer{
  text-align: center;
  margin: 10px;

}