body{
  /*background-color: #cfcfcf;
  */
  background-color: #1c7330;
  
}

header {
  text-align: center;
  grid-row: 1;
  grid-column: 1/3;
}

h1 {
  font-size: 70px;

}

#profile-pic {
  display: block;
  margin: 40px;
  border: 7px solid #731C5F;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

#grid{
  display: grid;
  width: 75%;
  /*margin-left: auto;
  margin-right: auto;*/
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  /*outline: thin solid #731C5F; */
  border: 7px solid #731C5F;
  border-radius: 20px;
  background-color: #cfcfcf;

}

#header{
  grid-row: 1;
  grid-column: 1 / 3;

}

#right {
  grid-column: 2 / 3 ;
  grid-row: 2;
  
}

#left {
  grid-column: 1 / 2;
  grid-row: 2;
  
}

#bottom {
  grid-column: 1/3;
  grid-row: 3;
  
}

#p1 {
  padding: 10px;

}
footer{
  text-align: center;
  margin: 10px;

}